<a
  href="/"
  class="h-10 text-base group relative z-30 flex items-center"
>
  <span class="font-brand text-xl text-neutral-800 dark:text-neutral-100 hover:text-primary dark:hover:text-primary-light transition-colors duration-200">
    YouthGT
  </span>
</a>
